<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhy.mapper.EmployeeMapper">
	<select id="selectEmployeeByIdLike" resultType="com.zhy.model.Employee">
		select * from tb_employee where state='active'
		<!-- 可选条件，如果传进来的参数有id属性，则加上id查询条件 -->
		<if test="id!=null">
		and id=#{id}	
		</if>
	</select>
	<!-- 两个搜索条件： -->
	<select id="selectEmployeeByLoginLike" parameterType="hashmap" resultType="com.zhy.model.Employee">
		select * from tb_employee where state='active'
		<if test="loginname!=null and password!=null">
			and loginname=#{loginname} and password=#{password}	
		</if>
	</select>
	<!-- choose: -->
	<select id="selectEmployeeChoose" parameterType="hashmap" resultType="com.zhy.model.Employee">
		select * from tb_employee where
		<choose>
			<when test="id!=null">
				id=#{id}
			</when>
			<when test="loginname!=null and password!=null">
				loginname=#{loginname} and password=#{password}
			</when>
			<otherwise>
				sex='男'
			</otherwise>
		</choose>
	</select>
	<!-- where: -->
	<select id="selectEmployeeLike" resultType="com.zhy.model.Employee" parameterType="hashmap">
		select * from tb_employee
		<where>
			<if test="state!=null">
				state=#{state}
			</if>
			<if test="id!=null">
				and id=#{id}
			</if>
			<if test="loginname!=null and password!=null">
				and loginname=#{loginname} and password=#{password}
			</if>
		</where>
	</select>
	<!-- set: -->
	<select id="selectEmployeeWithId" parameterType="int" resultType="com.zhy.model.Employee">
		select * from tb_employee where id=#{id}
	</select>
	<update id="updateEmployeeIfNecessary" parameterType="com.zhy.model.Employee">
		update tb_employee
		<set>
			<if test="loginname!=null">loginname=#{loginname},</if>
			<if test="password!=null">password=#{password},</if>
			<if test="name!=null">name=#{name}</if>
		</set>
		where id=#{id}
	</update>
	<!-- bind: -->
	<select id="selectEmployeeLikeName" resultType="com.zhy.model.Employee">
		<bind name="pattern" value="'%'+_parameter.getLoginname()+'%'"/>
		select * from tb_employee where loginname like #{pattern}
	</select>
</mapper>